* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fffcf0;
  font-family: "Montserrat", sans-serif;
}

/*********1366x768***********/
header {
  height: 20vh;
  margin: auto;
}
header .superiorHeader {
  height: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
header .superiorHeader #logoContainer {
  margin-left: 6rem;
  margin-right: 30rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}
header .superiorHeader #logoContainer .logo {
  font-weight: 500;
  font-size: 2.2rem;
  color: green;
  margin-top: 3rem;
}
header .superiorHeader #logoContainer .iconoLogo {
  height: 6vh;
}
header .superiorHeader .cart {
  margin-right: 7rem;
  margin-top: 2.5rem;
  cursor: pointer;
}
header .superiorHeader .cart .iconoCarrito {
  height: 5vh;
}
header nav {
  height: 10vh;
  background-color: #ead3aa;
}
header nav .nav-link {
  color: #014d01 !important;
}
header nav .nav-link:hover {
  transform: scale(1.1, 1.1);
}

/*********768x1024***********/
@media only screen and (max-width: 768px) {
  header {
    height: 13vh;
  }
  header .superiorHeader {
    height: 7vh;
  }
  header .superiorHeader #logoContainer {
    margin-left: 5.5rem;
  }
  header .superiorHeader #logoContainer .logo {
    font-weight: 500;
  }
  header .superiorHeader #logoContainer .iconoLogo {
    height: 5vh;
  }
  header .superiorHeader .cart {
    margin-right: 6rem;
  }
  header .superiorHeader .cart .iconoCarrito {
    height: 4vh;
  }
  header .navbar {
    height: 6vh;
    padding-left: 1.8rem;
  }
  header .navbar .nav-item {
    padding: 0rem !important;
    font-size: 1.5rem !important;
  }
  header .navbar .contenedorSearch {
    padding-right: 2rem !important;
  }
}
/*********360x740***********/
@media only screen and (max-width: 360px) {
  header {
    height: 13vh;
  }
  header .superiorHeader {
    height: 7vh;
    margin-bottom: 1rem;
  }
  header .superiorHeader #logoContainer {
    margin-left: 2.5rem;
    margin-right: 1rem;
  }
  header .superiorHeader #logoContainer .logo {
    font-weight: 500;
    font-size: 1.9rem;
  }
  header .superiorHeader #logoContainer .iconoLogo {
    height: 4vh;
    margin-top: 1rem;
  }
  header .superiorHeader .cart {
    margin-right: 3rem;
  }
  header .superiorHeader .cart .iconoCarrito {
    height: 3.5vh;
    margin-bottom: 1rem;
  }
  header .navbar {
    height: 10vh;
    padding: 0rem;
  }
  header .navbar .navCol {
    height: 8vh;
    display: flex;
    flex-direction: column;
    padding-right: 3rem;
    padding-left: 3rem;
  }
  header .navbar .navCol .navbar-nav {
    padding-right: 0.4rem !important;
  }
  header .navbar .navCol .navbar-nav .nav-item {
    font-size: 1.15rem !important;
  }
  header .navbar .navCol .navSearch {
    padding-right: 0rem !important;
    padding-left: 3rem;
    height: 3vh;
  }
  header .navbar .navCol .navSearch .botonSearch {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/*********1366x768***********/
footer {
  width: 100vw;
  height: 20vh;
  background-color: #ead3aa;
}
footer .iconoRedes {
  cursor: pointer;
}
footer .iconoRedes:hover {
  transform: scale(1.1, 1.1);
}

/*********768x1024***********/
footer {
  height: 18vh;
}
footer .iconoRedes {
  height: 4vh !important;
}

/*********360x740***********/
@media only screen and (max-width: 360px) {
  .contenedorRedes {
    margin-left: 10rem;
  }
}
/*********1366x768***********/
.main1 {
  margin-bottom: 10rem;
}
.main1 .introduction {
  width: 90vw;
  height: 70vh;
  margin: 0rem auto 0rem auto;
  font-size: 2rem;
  font-weight: 400;
  color: #014d01;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.main1 .introduction .introText {
  margin: 3.6rem 4.5rem 3rem 0rem;
}
.main1 .introduction .introCoverPic {
  margin: 4.5rem 0rem 0rem 4.5rem;
}
.main1 .introduction .introCoverPic .indexCoverPic {
  height: 60vh;
}
.main1 .introduction .introCoverPic .indexCoverPicR {
  display: none;
}

.ourProducts {
  width: 90vw;
  height: 40vh;
  margin: 3rem auto 2rem auto;
  padding-top: 2rem;
}
.ourProducts .ourProductsTitle h1 {
  font-size: 3rem;
  font-weight: 400;
  color: #014d01;
  text-align: center;
  background-color: #ead3aa;
  padding: 0.5rem;
}
.ourProducts .ourProductsPics {
  height: 30vh;
  margin: 0rem auto 2rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.ourProducts .ourProductsPics .imgBox {
  height: 30vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: radial-gradient(#290704, rgba(240, 169, 61, 0.5));
}
.ourProducts .ourProductsPics .imgBox .imgTitle {
  position: absolute;
  color: white;
  font-size: 1.4rem;
}
.ourProducts .ourProductsPics .imgBox .imgTitle:hover {
  transform: scale(1.2, 1.2);
  transition-duration: 1s;
}
.ourProducts .ourProductsPics .imgBox .imgBoxImg {
  width: 30vw;
  height: 30vh;
  opacity: 1;
  transition: opacity 0.6s;
}
.ourProducts .ourProductsPics .imgBox .imgBoxImg:hover {
  opacity: 0.5;
}

/**********768x1024***********/
@media only screen and (max-width: 768px) {
  .main1 {
    height: 60vh;
  }
  .main1 .introduction {
    width: 85vw;
    height: 45vh;
    margin: 0rem auto 0rem auto;
  }
  .main1 .introduction .introText {
    margin: 0rem;
    padding-bottom: 4rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: #014d01;
    margin: 0rem auto 0rem auto;
  }
  .main1 .introduction .introText h1 {
    font-size: 1.8rem;
  }
  .main1 .introduction .introCoverPic {
    margin-left: 0.5rem;
    margin-top: 0rem;
  }
  .main1 .introduction .introCoverPic .indexCoverPic {
    display: none;
    height: 0vh;
  }
  .main1 .introduction .introCoverPic .indexCoverPicR {
    height: 38vh;
    padding-left: 4rem;
    padding-top: 0.5rem;
    display: block;
  }

  .ourProducts {
    width: 84vw;
    height: 40vh;
    margin: 0rem auto 0rem auto;
  }
  .ourProducts .ourProductsTitle h1 {
    font-size: 1.8rem;
  }
  .ourProducts .ourProductsPics {
    height: 15vh;
  }
  .ourProducts .ourProductsPics .imgBox {
    height: 15vh;
  }
  .ourProducts .ourProductsPics .imgBox .imgTitle {
    font-size: 1rem;
  }
  .ourProducts .ourProductsPics .imgBox .imgBoxImg {
    width: 28vw;
    height: 15vh;
  }
}
/*********360x740***********/
@media only screen and (max-width: 360px) {
  .main1 {
    height: 83vh;
  }
  .main1 .introduction {
    width: 85vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
  }
  .main1 .introduction .introText {
    margin-top: 15rem;
    padding-bottom: 2rem;
    padding-top: 10rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #014d01;
  }
  .main1 .introduction .introText h1 {
    font-size: 1.5rem;
  }
  .main1 .introduction .introText p {
    margin-bottom: 0rem;
  }
  .main1 .introduction .introCoverPic {
    width: 85vw;
  }
  .main1 .introduction .introCoverPic .indexCoverPic {
    height: 27vh;
    display: block;
  }
  .main1 .introduction .introCoverPic .indexCoverPicR {
    display: none;
  }

  .ourProducts {
    width: 85vw;
    height: 30vh;
    margin-top: 20rem;
  }
  .ourProducts .ourProductsTitle h1 {
    margin-right: 0.3rem;
    font-size: 1.6rem;
  }
  .ourProducts .ourProductsPics {
    height: 12vh;
    width: 85vw;
  }
  .ourProducts .ourProductsPics .imgBox {
    height: 12vh;
  }
  .ourProducts .ourProductsPics .imgBox .imgTitle {
    font-size: 1rem;
  }
  .ourProducts .ourProductsPics .imgBox .imgBoxImg {
    width: 28vw;
    height: 12vh;
  }
}
/*********1366x768***********/
.main2 .aboutUs {
  width: 90vw;
  height: 80vh;
  margin: 6rem auto 4rem auto;
  font-size: 1.7rem;
  font-weight: 400;
  color: #014d01;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr;
  grid-template-areas: "aboutUsInfo aboutUs1 aboutUs3" "aboutUsInfo aboutUs2 aboutUs3";
  grid-column-gap: 4rem;
  grid-row-gap: 1rem;
}
.main2 .aboutUsInfo {
  grid-area: aboutUsInfo;
}
.main2 .aboutUs1 {
  grid-area: aboutUs1;
}
.main2 .aboutUs1 .gardener {
  height: 80%;
  width: 100%;
}
.main2 .aboutUs2 {
  grid-area: aboutUs2;
}
.main2 .aboutUs2 .greenHouseCentre {
  height: 80%;
  width: 100%;
}
.main2 .aboutUs3 {
  grid-area: aboutUs3;
}
.main2 .aboutUs3 .hands {
  height: 90%;
  width: 100%;
}

/**********768x1024***********/
@media only screen and (max-width: 768px) {
  .main2 {
    height: 63vh;
  }
  .main2 .aboutUs {
    width: 85vw;
    height: 60vh;
    margin-bottom: 0rem;
    font-weight: 400;
    color: #014d01;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
    grid-template-areas: "aboutUsInfo aboutUs1" "aboutUsInfo aboutUs2";
    grid-column-gap: 2rem;
  }
  .main2 .aboutUsInfo {
    grid-area: aboutUsInfo;
    font-size: 1.5rem;
  }
  .main2 .aboutUsInfo h1 {
    font-size: 2.3rem;
  }
  .main2 .aboutUs1 {
    grid-area: aboutUs1;
    margin-top: 6rem;
  }
  .main2 .aboutUs1 .gardener {
    height: 70%;
    width: 100%;
  }
  .main2 .aboutUs2 {
    grid-area: aboutUs2;
  }
  .main2 .aboutUs2 .greenHouseCentre {
    height: 70%;
    width: 100%;
  }
  .main2 .aboutUs3 {
    grid-area: aboutUs3;
    display: none;
  }
  .main2 .aboutUs3 .hands {
    height: 95%;
    width: 100%;
    display: none;
  }
}
/*********360x740***********/
@media only screen and (max-width: 360px) {
  .main2 {
    height: 95vh;
  }
  .main2 .aboutUs {
    width: 85vw;
    height: 30vh;
    margin: 7rem auto 0rem auto;
    display: flex;
    flex-direction: column;
  }
  .main2 .aboutUsInfo {
    font-size: 1.3rem;
    font-weight: 400;
  }
  .main2 .aboutUsInfo h1 {
    font-size: 1.6rem;
  }
  .main2 .aboutUs1 {
    margin-top: 0rem;
  }
  .main2 .aboutUs1 .gardener {
    height: 100%;
    width: 100%;
  }
  .main2 .greenHouseCentre {
    height: 100%;
    width: 100%;
    display: none;
  }
  .main2 .hands {
    height: 100vh;
    width: 100%;
    display: none;
  }
}
/*********360x640***********/
@media only screen and (max-height: 640px) {
  .main2 {
    height: 110vh;
  }
}
/*********1366x768***********/
.main3 .productDetails {
  width: 90vw;
  height: 100vh;
  margin: 6rem auto 0rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main3 .productDetails .productLeftGallery {
  margin-left: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main3 .productDetails .productLeftGallery .paloDeAgua2 {
  height: 25vh;
}
.main3 .productDetails .centralPic1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main3 .productDetails .centralPic1 .paloDeAgua {
  height: 70vh;
  margin-bottom: 2rem;
}
.main3 .productDetails .centralPic1 .additionalInfo {
  color: #014d01;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  margin-top: 0.5rem;
}
.main3 .productDetails .mainProductDetails {
  color: #014d01;
  font-size: 2.2rem;
  padding-left: 2rem;
}
.main3 .productDetails .mainProductDetails h2 {
  color: green;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}
.main3 .productDetails .mainProductDetails .quantityBar {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.main3 .productDetails .mainProductDetails .quantityBar .minus,
.main3 .productDetails .mainProductDetails .quantityBar .plus {
  width: 2.5rem;
  height: 2.5rem;
  padding-bottom: 2.5rem;
  font-size: 1.8rem;
  background: #f2f2f2;
  border-radius: 4px;
  border: 0.1rem solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
.main3 .productDetails .mainProductDetails .quantityBar input {
  height: 2.7rem;
  width: 4rem;
  text-align: center;
  font-size: 1.5rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.4rem;
  display: inline-block;
}
.main3 .productDetails .mainProductDetails .quantityBar h3 {
  margin-left: 0.5rem;
  padding-top: 0.2rem;
}
.main3 .productDetails .mainProductDetails .addToCart {
  color: white;
  font-size: 2rem;
  font-weight: 400;
  border-radius: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  background: linear-gradient(#0c5c0c, #16a516);
  box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.5);
}
.main3 .productDetails .mainProductDetails .addToCart:hover {
  transform: scale(1.1, 1.1);
  transition-duration: 1s;
}
.main3 .productDetails .mainProductDetails .warning {
  font-size: 1.3rem;
  text-align: left;
  line-height: 1rem;
  margin-top: 10rem;
}

.relatedProducts {
  width: 90vw;
  height: 60vh;
  margin: auto auto 5rem auto;
  padding-top: 2rem;
}
.relatedProducts .relatedProductsTitle {
  font-size: 2rem;
  font-weight: 400;
  color: #014d01;
  text-align: center;
  background-color: #ead3aa;
  padding: 0.5rem;
}
.relatedProducts .relatedProductsGallery {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #014d01;
  border: 0.2rem solid #ead3aa;
  padding: 2rem 1rem 2rem 5rem;
  flex-wrap: wrap;
}
.relatedProducts .relatedProductsGallery h5 {
  font-size: 1.8rem;
}
.relatedProducts .relatedProductsGallery .galleryPic {
  flex: 1;
  text-align: center;
  cursor: pointer;
  opacity: 1;
}
.relatedProducts .relatedProductsGallery .galleryPic .item {
  height: 30vh;
}
.relatedProducts .relatedProductsGallery .galleryPic:hover {
  opacity: 0.5;
  background: radial-gradient(#f8f4f4, rgba(238, 212, 174, 0.5));
}
.relatedProducts .relatedProductsGallery .addToCart {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  background: linear-gradient(#0c5c0c, #16a516);
  box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.5);
}
.relatedProducts .relatedProductsGallery .addToCart:hover {
  transform: scale(1.1, 1.1);
  transition-duration: 1s;
}

/**********768x1024***********/
@media only screen and (max-width: 768px) {
  .main3 {
    height: 125vh;
  }
  .main3 .productDetails {
    width: 85vw;
    height: 50vh;
  }
  .main3 .productDetails .productLeftGallery {
    margin-left: 0rem;
  }
  .main3 .productDetails .productLeftGallery .paloDeAgua2 {
    height: 9vh;
  }
  .main3 .productDetails .centralPic1 .paloDeAgua {
    height: 31vh;
    margin-bottom: 2rem;
  }
  .main3 .productDetails .centralPic1 .additionalInfo {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
  .main3 .productDetails .mainProductDetails {
    font-size: 2.2rem;
  }
  .main3 .productDetails .mainProductDetails h2 {
    font-size: 2.4rem;
  }
  .main3 .productDetails .mainProductDetails .quantityBar h3 {
    font-size: 1.6rem;
  }
  .main3 .productDetails .mainProductDetails .addToCart {
    font-size: 1.9rem;
  }
  .main3 .productDetails .mainProductDetails .warning {
    font-size: 1.3rem;
    line-height: 1.4rem;
    margin-top: 3.1rem;
  }

  .relatedProducts {
    width: 85vw;
    margin: 0rem 5rem 0rem 5rem;
    padding-top: 0rem;
  }
  .relatedProducts .relatedProductsTitle {
    padding: 0.5rem;
  }
  .relatedProducts .relatedProductsTitle h2 {
    padding-top: 1rem;
  }
  .relatedProducts .relatedProductsGallery {
    height: 65vh;
    padding: 2rem;
  }
  .relatedProducts .relatedProductsGallery h5 {
    font-size: 1.6rem;
  }
  .relatedProducts .relatedProductsGallery .galleryPic .item {
    height: 20vh;
  }
}
/**********360x740***********/
@media only screen and (max-width: 360px) {
  .main3 {
    height: 180vh;
  }
  .main3 .productDetails {
    width: 85vw;
    height: 100vh;
    margin: 6rem auto 0rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main3 .productDetails .productLeftGallery {
    display: none;
  }
  .main3 .productDetails .centralPic1 .paloDeAgua {
    height: 42vh;
    margin-bottom: 2rem;
  }
  .main3 .productDetails .centralPic1 .additionalInfo {
    font-size: 1.4rem;
    margin-top: 0.5rem;
    line-height: 1.4rem;
  }
  .main3 .productDetails .mainProductDetails {
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;
  }
  .main3 .productDetails .mainProductDetails h1 {
    font-size: 2.5rem;
  }
  .main3 .productDetails .mainProductDetails h2 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }
  .main3 .productDetails .mainProductDetails .quantityBar {
    justify-content: center;
  }
  .main3 .productDetails .mainProductDetails .addToCart {
    font-size: 1.8rem;
  }
  .main3 .productDetails .mainProductDetails .warning {
    font-size: 1.3rem;
    text-align: left;
    line-height: 1rem;
    margin-top: 3rem;
    text-align: center;
  }

  .relatedProducts {
    width: 85vw;
    height: 70vh;
    margin: 3rem auto 5rem auto;
  }
  .relatedProducts .relatedProductsTitle {
    font-size: 1.8rem;
    padding: 0.5rem;
  }
  .relatedProducts .relatedProductsGallery {
    padding: 1rem;
  }
  .relatedProducts .relatedProductsGallery h5 {
    font-size: 1.8rem;
  }
  .relatedProducts .relatedProductsGallery .galleryPic .item {
    height: 15vh;
  }
  .relatedProducts .relatedProductsGallery .addToCart {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.5rem;
  }
}
/*********360x640***********/
@media only screen and (max-height: 640px) {
  .main3 {
    height: 195vh;
  }
  .main3 .relatedProducts {
    width: 85vw;
    height: 10vh;
    margin: 10rem auto 5rem auto;
  }
}
/*********1366x768***********/
.main4 .main4__tips {
  width: 90vw;
  height: 125vh;
  margin: 6rem auto 0rem auto;
  color: #014d01;
  font-size: 1.6rem;
}
.main4 .main4__tips h1 {
  padding-bottom: 1rem;
}
.main4 .main4__tips .main4__tips__tip1 {
  border: 0.3rem solid #ead3aa;
  margin-bottom: 2rem;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  background: linear-gradient(to right, #e6d1b3, #f1e7d7);
}
.main4 .main4__tips .main4__tips__tip1 .main4__tips__tip1__text1 {
  padding-left: 3rem;
}
.main4 .main4__tips .main4__tips__tip1 .main4__tips__tip1__image1 {
  height: 45vh;
}
.main4 .main4__tips .main4__tips__tip2 {
  border: 0.3rem solid #ead3aa;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  background: linear-gradient(to left, #e6d1b3, #f1e7d7);
}
.main4 .main4__tips .main4__tips__tip2 .main4__tips__tip2__text2 {
  padding-right: 3rem;
}
.main4 .main4__tips .main4__tips__tip2 .main4__tips__tip2__image2 {
  height: 45vh;
}
.main4 .readMore {
  color: white;
  font-size: 1.8rem;
  font-weight: 400;
  background: linear-gradient(#0c5c0c, #16a516);
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.4rem;
  box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.5);
}
.main4 .readMore:hover {
  transform: scale(1.1, 1.1);
  transition-duration: 1s;
}

/**********768x1024***********/
@media only screen and (max-width: 768px) {
  .main4 {
    height: 123vh;
    width: 100vw;
  }
  .main4 .main4__tips {
    width: 85vw;
    height: 125vh;
    font-size: 1.5rem;
  }
  .main4 .main4__tips h1 {
    font-size: 2.3rem;
  }
  .main4 .main4__tips .main4__tips__tip1 {
    display: flex;
    flex-direction: column;
  }
  .main4 .main4__tips .main4__tips__tip1 .main4__tips__tip1__text1 {
    padding-left: 0rem;
    padding-top: 2rem;
  }
  .main4 .main4__tips .main4__tips__tip1 .main4__tips__tip1__image1 {
    height: 28vh;
  }
  .main4 .main4__tips .main4__tips__tip2 {
    padding: 3rem;
    display: flex;
    flex-direction: column;
  }
  .main4 .main4__tips .main4__tips__tip2 .main4__tips__tip2__text2 {
    padding-right: 3rem;
  }
  .main4 .main4__tips .main4__tips__tip2 .main4__tips__tip2__image2 {
    height: 28vh;
    padding-top: 2rem;
  }
  .main4 .readMore {
    font-size: 1.6rem;
  }
}
/*********360x740***********/
@media only screen and (max-width: 360px) {
  .main4 {
    height: 150vh;
    width: 100vw;
  }
  .main4 .main4__tips {
    width: 85vw;
    height: 100vh;
    font-size: 1.3rem;
  }
  .main4 .main4__tips h1 {
    font-size: 1.6rem;
  }
  .main4 .main4__tips .main4__tips__tip1 {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  .main4 .main4__tips .main4__tips__tip1 .main4__tips__tip1__text1 {
    padding-left: 0rem;
    padding-top: 2rem;
  }
  .main4 .main4__tips .main4__tips__tip1 .main4__tips__tip1__image1 {
    height: 20vh;
  }
  .main4 .main4__tips .main4__tips__tip2 {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  .main4 .main4__tips .main4__tips__tip2 .main4__tips__tip2__text2 {
    padding-right: 3rem;
  }
  .main4 .main4__tips .main4__tips__tip2 .main4__tips__tip2__image2 {
    height: 20vh;
    padding-top: 2rem;
  }
  .main4 .readMore {
    font-size: 1.3rem;
  }
}
/*********360x640***********/
@media only screen and (max-height: 640px) {
  .main4 {
    height: 168vh;
  }
}
/*********1366x768***********/
.main5 .contactUs {
  width: 90vw;
  height: 90vh;
  margin: 5rem auto 0rem auto;
  color: #014d01;
}
.main5 .contactUs .contactUsTitle {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 4rem;
}
.main5 .contactUs .contactUsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.main5 .contactUs .contactUsContainer .contactInfo {
  font-size: 1.5rem;
  margin-bottom: 4rem;
  line-height: 2.5rem;
}
.main5 .contactUs .formInfo {
  border: 0.3rem solid #ead3aa;
  padding: 2rem;
  margin: 0rem 2rem 0rem 2rem;
  height: 66vh;
  line-height: 2.5rem;
  font-size: 1.5rem;
}
.main5 .contactUs .formInfo h2 {
  margin-bottom: 1rem;
}
.main5 .contactUs .formInfo fieldset {
  line-height: 3rem;
}
.main5 .contactUs .formInfo fieldset label {
  padding-bottom: 1.2rem;
}
.main5 .contactUs .formInfo fieldset .formName {
  padding-right: 8rem;
}
.main5 .contactUs .formInfo fieldset .formMail {
  padding-right: 11rem;
}
.main5 .contactUs .formInfo fieldset .enquiryReason {
  padding-right: 5rem;
}
.main5 .contactUs .formInfo fieldset .messageForm {
  margin-bottom: 1rem;
}
.main5 .contactUs .formInfo fieldset .buttonForm {
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  background: linear-gradient(#0c5c0c, #16a516);
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.8rem;
  margin-right: 2rem;
  box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.5);
}
.main5 .contactUs .formInfo fieldset .buttonForm:hover {
  transform: scale(1.1, 1.1);
  transition: 1s;
}

/**********768x1024***********/
@media only screen and (max-width: 768px) {
  .main5 {
    height: 66vh;
  }
  .main5 .contactUs {
    width: 85vw;
    height: 80vh;
  }
  .main5 .contactUs .contactUsTitle {
    font-size: 2.3rem;
    margin-bottom: 4rem;
  }
  .main5 .contactUs .contactUsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .main5 .contactUs .contactUsContainer .contactUsLeft {
    width: 35vw;
  }
  .main5 .contactUs .contactUsContainer .contactUsLeft .contactInfo {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .main5 .contactUs .contactUsContainer .contactUsLeft .googleMap iframe {
    width: 100%;
    height: 33vh;
  }
  .main5 .contactUs .formInfo {
    height: 53vh;
    width: 35vw;
    line-height: 2rem;
    font-size: 1.4rem;
  }
  .main5 .contactUs .formInfo h2 {
    margin-bottom: 1rem;
  }
  .main5 .contactUs .formInfo fieldset {
    line-height: 2.5rem;
  }
  .main5 .contactUs .formInfo fieldset label {
    padding-bottom: 0.1rem;
  }
  .main5 .contactUs .formInfo fieldset .formName {
    padding-right: 2rem;
    margin-bottom: 1rem;
  }
  .main5 .contactUs .formInfo fieldset .formMail {
    padding-right: 2rem;
    margin-bottom: 1rem;
  }
  .main5 .contactUs .formInfo fieldset .enquiryReason {
    padding-right: 8.1rem;
    margin-bottom: 1rem;
  }
  .main5 .contactUs .formInfo fieldset .messageForm {
    width: 29vw;
    margin-bottom: 1rem;
  }
  .main5 .contactUs .formInfo fieldset .buttonForm {
    font-size: 1.3rem;
    padding: 0.5rem;
  }
}
/*********360x740***********/
@media only screen and (max-width: 360px) {
  .main5 {
    height: 135vh;
  }
  .main5 .contactUs .contactUsTitle {
    margin-bottom: 1rem;
  }
  .main5 .contactUs .contactUsTitle h1 {
    font-size: 1.6rem;
    padding-top: 1rem;
  }
  .main5 .contactUs .contactUsContainer {
    display: flex;
    flex-direction: column;
  }
  .main5 .contactUs .contactUsContainer .contactUsLeft {
    width: 85vw;
  }
  .main5 .contactUs .contactUsContainer .contactUsLeft .contactInfo {
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-bottom: 1.5rem;
  }
  .main5 .contactUs .contactUsContainer .contactUsLeft .googleMap iframe {
    width: 100%;
    height: 30vh;
  }
  .main5 .contactUs .formInfo {
    height: 65vh;
    width: 85vw;
    line-height: 2rem;
    font-size: 1.2rem;
    margin: 2rem 0rem 2rem 0rem;
  }
  .main5 .contactUs .formInfo h2 {
    margin-bottom: 1rem;
  }
  .main5 .contactUs .formInfo fieldset {
    line-height: 2.9rem;
  }
  .main5 .contactUs .formInfo fieldset .formName {
    padding-right: 3.3rem;
  }
  .main5 .contactUs .formInfo fieldset .formMail {
    padding-right: 5.8rem;
  }
  .main5 .contactUs .formInfo fieldset .enquiryReason {
    padding-right: 0.5rem;
  }
  .main5 .contactUs .formInfo fieldset .messageForm {
    width: 72vw;
  }
}
/*********360x640***********/
@media only screen and (max-height: 640px) {
  .main5 {
    height: 140vh;
  }
  .main5 .formInfo {
    height: 72vh !important;
  }
}

/*# sourceMappingURL=style.css.map */
